[tool.poetry]
name = "video-source-py"
version = "0.9.0"
description = "A generic video source extracting frames from any source OpenCV / ffmpeg supports and pushing it towards a consumer"
authors = ["flonix8 <flstanek@googlemail.com>"]
license = "GPL3"
readme = "README.md"

[tool.poetry.dependencies]
python = "~3.10"
pydantic = "^2.0.0"
opencv-python = "^4.7.0.72"
visionapi = { git = "https://github.com/starwit/vision-api.git", subdirectory = "python/visionapi", tag = "0.4.0" }
visionlib = { git = "https://github.com/starwit/vision-lib.git", subdirectory = "python", tag = "0.2.0" }
redis = "^5.0.0"
pydantic-settings = "^2.0.3"
prometheus-client = "^0.17.1"
pyturbojpeg = "^1.7.2"


[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
